@font-face {
	font-family: 'League Gothic';
	font-weight: normal;
	font-style: normal;

	src: url('../fonts/LeagueGothic.eot');
	src: url('../fonts/LeagueGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LeagueGothic.woff2') format('woff2'),
		url('../fonts/LeagueGothic.woff') format('woff'),
		url('../fonts/LeagueGothic.ttf') format('truetype');
}

@media screen and (min-width: 960px) {

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

	/*HEADER*/
	.page-header {
		min-height: 846px;

		border-bottom: 1px solid #33253a;
		background: #ead2d5 url("../img/background.jpg") -480px 0 no-repeat;
	}

	.page-header__nav-wrap {
		max-width: 960px;
		margin: 0 auto 164px auto;
		padding-top: 66px;
	}

	.main-nav {
		display: flex;

		text-transform: uppercase;

		font-family: "League Gothic";

		justify-content: space-between;
	}

	.main-nav__logo-link {
		text-decoration: none;
		letter-spacing: -0.5px;

		color: #fff;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

		font-size: 48px;
		font-weight: 400;
	}

	.main-nav__logo-link--violet {
		color: #5a3f66;
		background-image: linear-gradient(#734f82, #5a3f66, #35273d);
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.main-nav__list-wrap {
		padding-top: 10px;

		flex: 0 0 633px;
	}

	/*main nenu*/
	.main-nav__list {
		display: flex;

		text-transform: uppercase;

		font-family: "League Gothic";

		justify-content: space-between;
		align-items: center;
	}

	.main-nav__link {
		text-decoration: none;
		letter-spacing: -0.5px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 24px;
	}

	.main-nav__list-item:hover {
		margin-bottom: -2px;

		border-bottom: 2px solid #edbfff;
	}

	/*slider*/
	.header-slider {
		min-height: 400px;

		background-color: rgba(0, 0, 0, 0.2);
	}

	.header-slider__wrap::before {
		position: absolute;
		top: 183px;
		left: -290px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
	}

	.header-slider__wrap::after {
		position: absolute;
		top: 183px;
		right: -290px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
	}

	.header-slider__wrap {
		position: relative;

		max-width: 960px;
		margin: 0 auto;
	}

	.header-slider__item {
		max-width: 502px;

		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}

	.header-slider__title {
		padding-top: 79px;

		letter-spacing: -1px;

		color: #fefefe;

		font-family: "League Gothic";
		font-size: 60px;
		font-weight: 400;
	}

	.header-slider__subtitle {
		letter-spacing: -0.4px;
		text-transform: uppercase;

		color: #edbfff;

		font-family: "League Gothic";
		font-size: 32px;
	}

	.header-slider__text {
		padding-top: 5px;

		letter-spacing: -0.3px;

		color: #fff;

		font-size: 18px;
		line-height: 24px;
	}

	.header-slider__img-wrap {
		position: absolute;
		top: -17px;
		left: 617px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		top: 493px;
		left: 713px;
	}

	.slider__pagination {
		display: flex;

		width: 83px;

		justify-content: space-between;
	}

	.slider__pagination-link {
		display: block;

		width: 17px;
		height: 17px;

		content: "";

		border-radius: 50%;
		background-color: #42444d;
	}

	.slider__pagination-link:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #42444d;
		border-radius: 50%;
		background-color: #f5f5f5;
	}

	/*section about company*/
	.about-block {
		border-bottom: 1px solid #f9f9f9;
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
	}

	.about-block__wrap {
		display: flex;

		max-width: 960px;
		min-height: 262px;
		margin: 0 auto;
		padding-top: 78px;
	}

	.about-block-item__wrap {
		position: relative;

		margin-left: 60px;

		flex: 0 0 226px;
	}

	.about-block-item__wrap::before {
		position: absolute;
		top: 4px;
		left: -51px;

		display: block;

		width: 38px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
	}

	.about-block-item__wrap--center {
		position: relative;

		margin-left: 111px;

		flex: 0 0 226px;
	}

	.about-block-item__wrap--center::before {
		position: absolute;
		top: 5px;
		left: -51px;

		display: block;

		width: 41px;
		height: 37px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
	}

	.about-block-item__wrap--right {
		position: relative;

		margin-left: 111px;

		flex: 0 0 226px;
	}

	.about-block-item__wrap--right::before {
		position: absolute;
		top: 2px;
		left: -50px;

		display: block;

		width: 37px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
	}

	.about-block__title {
		margin: 0 0 5px 4px;

		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 1px 0 #0f1518;

		font-family: "League Gothic";
		font-size: 30px;
	}

	.about-block__text {
		margin-bottom: 18px;

		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;

		line-height: 24px;
	}

	.about-block__link {
		display: block;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #ffffff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

		font-family: "League Gothic";
		font-size: 18px;
		line-height: 24px;
	}

	/*news section*/
	.news {
		border-bottom: 1px solid #e6e6e6;
		background-color: #f9f9f9;
	}

	.news__wrap {
		display: flex;

		max-width: 960px;
		min-height: 388px;
		margin: 0 auto;
		padding-top: 98px;
	}

	.news-blog__wrap {
		position: relative;

		margin: 0 64px 0 24px;	}

	/*blog*/
	.news-blog__item {
		min-height: 176px;
		padding: 31px 0 0 39px;

		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

		flex: 0 0 427px;
	}

	.news__header-wrap {
		display: flex;
	}

	.news__header,
	.comment-news__header {
		letter-spacing: -0.2px;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 30px;
		font-weight: 400;
	}

	.news__header--light {
		padding-left: 5px;

		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		padding: 10px 20px 35px 0;

		letter-spacing: 0.1px;

		color: #454545;
		text-shadow: 1px 1px 0 #fff;

		line-height: 24px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		top: 297px;
		left: 172px;
	}

	.slider__pagination-link--white {
		display: block;

		width: 16px;
		height: 16px;

		content: "";

		border: 1px solid #efefef;
		border-radius: 50%;
		background-color: #fff;
	}

	.slider__pagination-link--white:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #fff;
		border-radius: 50%;
		background-color: #5b5b5b;
	}

	/*news block*/
	.news-events__wrap {
		padding-top: 31px;

		flex: 0 0 450px;
	}

	.news-events__list {
		box-sizing: border-box;
		width: 445px;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		line-height: 24px;
	}

	.news-event__img-wrap {
		float: left;

		width: 49px;
	}

	.news-event__title {
		padding-left: 65px;

		font-weight: 700;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 17px;
	}

	.news-event__text {
		padding-left: 65px;
	}

	.news-event__more-link {
		display: block;

		padding: 25px 20px 0 0;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
	}

	/*brands section*/
	.brands {
		border: 1px solid #fefefe;
		background-color: #f9f9f9;
	}

	.brands__img-wrap {
		display: flex;

		max-width: 775px;
		min-height: 117px;
		margin: 0 auto;

		justify-content: space-between;
		align-items: center;
	}

	.brands__img {
		display: block;
	}

	/*news categories section*/
	.comments {
		border-top: 1px solid #d8d8d8;
		background-color: #ececec;
	}

	.comments__wrap {
		display: flex;

		max-width: 960px;
		min-height: 299px;
		margin: 0 auto;
		padding-top: 98px;

		justify-content: flex-start;
	}

	.comment__item {
		flex: 0 0 286px;
	}

	.comment__item--center {
		margin-left: 51px;
	}

	.comment__item--right {
		margin-left: 51px;

		letter-spacing: -0.3px;
	}

	.comments__logo-wrap {
		padding-bottom: 12px;
	}

	.comments__logo-link {
		text-decoration: none;
		letter-spacing: -0.5px;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 0 1px 0 #fff;

		font-family: "League Gothic";
		font-size: 48px;
		font-weight: 400;
	}

	.comments__logo-link--light {
		color: #b9b9b9;
	}

	.comment__time {
		color: #c5c5c5;
		text-shadow: 1px 1px 0 #fff;

		font-family: Georgia;
	}

	.comment-text {
		padding-top: 10px;

		line-height: 24px;
	}

	/*FOOTER*/
	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		display: flex;

		max-width: 960px;
		margin: 0 auto;
		padding: 47px 0;

		justify-content: space-between;
	}

	.page-footer__nav-wrap {
		text-transform: uppercase;

		font-family: "League Gothic";

		flex-basis: 533px;
	}

	.main-nav__list--footer {
		display: flex;

		justify-content: space-between;
	}

	.main-nav__link--footer {
		text-decoration: none;
		letter-spacing: 0.5px;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 20px;
	}

	.page-footer__design {
		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 12px;
		line-height: 16px;

		align-self: center;
	}

	.page-footer__design-link {
		text-decoration: none;

		color: #fff;

		font-weight: 700;
	}

	.hidden960 {
		display: none;
	}
}

@media (max-width: 959px) and (min-width: 768px) {

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

	/*HEADER*/
	.page-header {
		min-height: 798px;

		border-bottom: 1px solid #33253a;
		background: #ead2d5 url("../img/background.jpg") -824px 0 no-repeat;
	}

	.page-header__nav-wrap {
		max-width: 732px;
		margin: 0 auto 76px auto;
		padding-top: 68px;
	}

	.main-nav {
		display: flex;
		flex-direction: column;

		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__logo-link {
		text-decoration: none;

		color: #fff;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

		font-size: 48px;
		font-weight: 400;
	}

	.main-nav__logo-link--violet {
		color: #5a3f66;
		background-image: linear-gradient(#734f82, #5a3f66, #35273d);
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.main-nav__list-wrap {
		width: 632px;
		margin-top: 28px;
	}

	/*main nenu*/
	.main-nav__list {
		display: flex;

		text-transform: uppercase;

		font-family: "League Gothic";

		justify-content: space-between;
		flex-grow: 1;
	}

	.main-nav__link {
		text-decoration: none;
		letter-spacing: -0.4px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 24px;
	}

	.main-nav__list-item:hover {
		margin-bottom: -2px;

		border-bottom: 2px solid #edbfff;
	}

	/*slider*/
	.header-slider {
		min-height: 400px;

		background-color: rgba(0, 0, 0, 0.2);
	}

	.header-slider__wrap::before {
		position: absolute;
		top: 183px;
		left: -25px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
	}

	.header-slider__wrap::after {
		position: absolute;
		top: 183px;
		right: -25px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
	}

	.header-slider__wrap {
		position: relative;

		max-width: 728px;
		margin: 0 auto;
	}

	.header-slider__item {
		max-width: 272px;
		padding-left: 24px;

		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}

	.header-slider__title {
		padding: 99px 0 8px 0;

		letter-spacing: -0.7px;

		color: #fefefe;

		font-family: "League Gothic";
		font-size: 48px;
		font-weight: 400;
	}

	.header-slider__subtitle {
		letter-spacing: -0.3px;
		text-transform: uppercase;

		color: #edbfff;

		font-family: "League Gothic";
		font-size: 24px;
	}

	.header-slider__text {
		padding-top: 5px;

		letter-spacing: -0.2px;

		color: #fff;

		font-size: 16px;
		line-height: 27px;
	}

	.header-slider__img-wrap {
		position: absolute;
		top: -23px;
		left: 427px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		top: 437px;
		left: 522px;
	}

	.slider__pagination {
		display: flex;

		width: 83px;

		justify-content: space-between;
	}

	.slider__pagination-link {
		display: block;

		width: 17px;
		height: 17px;

		content: "";

		border-radius: 50%;
		background-color: #42444d;
	}

	.slider__pagination-link:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #42444d;
		border-radius: 50%;
		background-color: #f5f5f5;
	}

	/*section about company*/
	.about-block {
		border-bottom: 1px solid #f9f9f9;
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
	}

	.about-block__wrap {
		display: flex;

		max-width: 732px;
		min-height: 264px;
		margin: 0 auto;
		padding-top: 77px;
	}

	.about-block-item__wrap {
		position: relative;

		margin-left: 60px;

		flex: 0 0 156px;
	}

	.about-block-item__wrap::before {
		position: absolute;
		top: 1px;
		left: -51px;

		display: block;

		width: 38px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
	}

	.about-block-item__wrap--center {
		position: relative;

		margin-left: 102px;

		flex: 0 0 156px;
	}

	.about-block-item__wrap--center::before {
		position: absolute;
		top: 2px;
		left: -51px;

		display: block;

		width: 41px;
		height: 37px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
	}

	.about-block-item__wrap--right {
		position: relative;

		margin-left: 102px;

		flex: 0 0 156px;
	}

	.about-block-item__wrap--right::before {
		position: absolute;
		top: -1px;
		left: -50px;

		display: block;

		width: 37px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
	}

	.about-block__title {
		margin: 0 0 4px 2px;

		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 1px 0 #0f1518;

		font-family: "League Gothic";
		font-size: 24px;
	}

	.about-block__text {
		margin-bottom: 6px;

		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;

		line-height: 24px;
	}

	.about-block__link {
		display: block;

		padding-right: 8px;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #ffffff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

		font-family: "League Gothic";
		font-size: 18px;
		line-height: 24px;
	}

	/*news section*/
	.news {
		border-bottom: 1px solid #e6e6e6;
		background-color: #f9f9f9;
	}

	.news__wrap {
		display: flex;

		max-width: 732px;
		min-height: 388px;
		margin: 0 auto;
		padding-top: 98px;
	}

	.news-blog__wrap {
		position: relative;

		margin: 0 59px 0 24px;	}

	/*blog*/
	.news-blog__item {
		min-height: 241px;
		padding: 31px 0 0 39px;

		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

		flex: 0 0 313px;
	}

	.news__header,
	.comment-news__header {
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 24px;
		font-weight: 400;
	}

	.news__header--light {
		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		padding: 10px 20px 10px 0;

		letter-spacing: -0.5px;

		color: #454545;
		text-shadow: 1px 1px 0 #fff;

		line-height: 24px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		top: 297px;
		left: 118px;
	}

	.slider__pagination-link--white {
		display: block;

		width: 16px;
		height: 16px;

		content: "";

		border: 1px solid #efefef;
		border-radius: 50%;
		background-color: #fff;
	}

	.slider__pagination-link--white:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #fff;
		border-radius: 50%;
		background-color: #5b5b5b;
	}

	/*news block*/
	.news-events__wrap {
		padding-top: 31px;

		flex: 0 0 336px;
	}

	.news__header--biger {
		margin-left: -2px;

		letter-spacing: -0.5px;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 30px;
		font-weight: 400;
	}

	.news-events__list {
		box-sizing: border-box;
		width: 332px;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		line-height: 24px;
	}

	.news-event__img-wrap {
		float: left;

		width: 49px;
	}

	.news-event__title {
		padding-left: 65px;

		letter-spacing: 0.2px;

		font-weight: 700;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 18px;
	}

	.news-event__text {
		padding-left: 65px;

		letter-spacing: -0.3px;
	}

	.news-event__more-link {
		display: block;

		padding: 20px 5px 0 0;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
	}

	/*brands section*/
	.brands {
		border: 1px solid #fefefe;
		background-color: #f9f9f9;
	}

	.brands__img-wrap {
		display: flex;

		max-width: 725px;
		min-height: 118px;
		margin: 0 auto;

		justify-content: space-between;
		align-items: center;
	}

	.brands__img {
		display: block;
	}

	/*news categories section*/
	.comments {
		border-top: 1px solid #d8d8d8;
		background-color: #ececec;
	}

	.comments__wrap {
		display: flex;

		max-width: 732px;
		min-height: 295px;
		margin: 0 auto;
		padding-top: 101px;

		justify-content: flex-start;
	}

	.comment__item {
		flex: 0 0 210px;
	}

	.comment__item--center {
		margin-left: 55px;

		flex: 0 0 210px;
	}

	.comment__item--right {
		margin-left: 55px;

		flex: 0 0 210px;
	}

	.comment-text {
		padding-top: 10px;

		line-height: 24px;
	}

	/*FOOTER*/
	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 732px;
		height: 201px;
		margin: 0 auto;
	}

	.page-footer__nav-wrap {
		width: 528px;
		padding-top: 45px;

		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__list--footer {
		display: flex;

		justify-content: space-between;
	}

	.main-nav__link--footer {
		text-decoration: none;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 20px;
		line-height: 24px;
	}

	.page-footer__design {
		margin: 34px 3px 0 0;

		text-align: right;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 12px;
	}

	.page-footer__design-link {
		text-decoration: none;

		color: #fff;

		font-weight: 700;
	}

	.hidden768 {
		display: none;
	}
}

@media (max-width: 767px) and (min-width: 480px) {

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

	/*HEADER*/
	.page-header {
		min-height: 549px;

		border-bottom: 1px solid #33253a;
		background: #ead2d5 url("../img/background.jpg") -968px 0 no-repeat;
	}

	.page-header__nav-wrap {
		max-width: 247px;
		margin: 0 auto 26px auto;
		padding-top: 67px;
	}

	.main-nav {
		display: flex;
		flex-direction: column;

		text-align: center;
		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__logo-link {
		text-decoration: none;
		letter-spacing: -0.3px;

		color: #fff;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

		font-size: 48px;
		font-weight: 400;
	}

	.main-nav__logo-link--violet {
		color: #5a3f66;
		background-image: linear-gradient(#734f82, #5a3f66, #35273d);
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.main-nav__logo-wrap {
		margin-bottom: 16px;
	}

	/*main nenu*/
	.main-nav__list,
	.main-nav__submenu {
		position: relative;

		width: 247px;

		text-transform: uppercase;

		border: 1px solid #051116;
		border-radius: 10px;
		background-color: #3b2e43;
		background-color: rgba(59, 46, 67, 0.9);
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

		font-family: "League Gothic";
	}

	.main-nav__list-item {
		padding-top: 2px;
	}

	.main-nav__list-item,
	.submain-nav__list-item {
		box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
	}

	.main-nav__submenu {
		position: absolute;
		z-index: 2;
		left: -1px;

		display: none;
	}

	.main-nav__list:hover {
		border-radius: 10px 10px 0 0;
	}

	.main-nav__list:hover .main-nav__submenu {
		display: block;

		border-radius: 0 0 10px 10px;
	}

	.main-nav__link {
		text-decoration: none;
		letter-spacing: -0.3px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 24px;
		line-height: 42px;
	}

	.main-nav__link:hover {
		display: inline;

		margin-bottom: -2px;

		border-bottom: 2px solid #edbfff;
	}

	.main-nav__link:active {
		display: block;

		margin-bottom: -2px;

		background-color: rgba(44,35,50, 0.9);
	}

	/*slider*/
	.header-slider {
		min-height: 246px;

		background-color: rgba(0, 0, 0, 0.2);
	}

	.header-slider__wrap::before {
		position: absolute;
		top: 108px;
		left: -23px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
	}

	.header-slider__wrap::after {
		position: absolute;
		top: 108px;
		right: -25px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
	}

	.header-slider__wrap {
		position: relative;

		max-width: 440px;
		margin: 0 auto;
	}

	.header-slider__item {
		max-width: 201px;
		padding-left: 20px;

		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}

	.header-slider__title {
		padding: 95px 0 2px 0;

		letter-spacing: -0.7px;

		color: #fefefe;

		font-family: "League Gothic";
		font-size: 36px;
		font-weight: 400;
	}

	.header-slider__subtitle {
		letter-spacing: -0.3px;
		text-transform: uppercase;

		color: #edbfff;

		font-family: "League Gothic";
		font-size: 18px;
	}

	.header-slider__img-wrap 	{
		position: absolute;
		top: -8px;
		left: 237px	;
	}

	/*slider-pagination*/
	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		top: 268px;
		left: 183px;
	}

	.slider__pagination {
		display: flex;

		width: 83px;

		justify-content: space-between;
	}

	.slider__pagination-link {
		display: block;

		width: 17px;
		height: 17px;

		content: "";

		border-radius: 50%;
		background-color: #42444d;
	}

	.slider__pagination-link:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #42444d;
		border-radius: 50%;
		background-color: #f5f5f5;
	}

	/*section about company*/
	.about-block {
		border-bottom: 1px solid #f9f9f9;
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
	}

	.about-block__wrap {
		max-width: 440px;
		min-height: 520px;
		margin: 0 auto;
		padding-top: 77px;
	}

	.about-block-item__wrap {
		position: relative;

		margin: 0 0 25px 62px;	}

	.about-block-item__wrap::before {
		position: absolute;
		top: 1px;
		left: -51px;

		display: block;

		width: 38px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
	}

	.about-block-item__wrap--center {
		position: relative;

		margin: 0 0 25px 62px;	}

	.about-block-item__wrap--center::before {
		position: absolute;
		top: 2px;
		left: -51px;

		display: block;

		width: 41px;
		height: 37px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
	}

	.about-block-item__wrap--right {
		position: relative;

		margin-left: 62px;
	}

	.about-block-item__wrap--right::before {
		position: absolute;
		top: -1px;
		left: -50px;

		display: block;

		width: 37px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
	}

	.about-block__title {
		margin-bottom: 2px;

		letter-spacing: -0.1px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 1px 0 #0f1518;

		font-family: "League Gothic";
		font-size: 24px;
	}

	.about-block__text {
		margin-bottom: 12px;

		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;

		line-height: 24px;
	}

	.about-block__link {
		display: block;

		padding-right: 6px;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #ffffff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

		font-family: "League Gothic";
		font-size: 18px;
		line-height: 24px;
	}

	/*news section*/
	.news {
		border-bottom: 1px solid #e6e6e6;
		background-color: #f9f9f9;
	}

	.news__wrap {
		max-width: 440px;
		min-height: 199px;
		margin: 0 auto;
		padding-top: 68px;
	}

	.news-blog__wrap {
		position: relative;

		margin-left: 24px;
	}

	/*blog*/
	.news-blog__item {
		min-height: 243px;
		padding: 30px 0 0 39px;

		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.news__header,
	.comment-news__header {
		display: inline-block;

		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 30px;
		font-weight: 400;
	}

	.news__header--light {
		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		padding: 10px 40px 0 0;

		letter-spacing: -0.4px;

		color: #454545;
		text-shadow: 1px 1px 0 #fff;

		line-height: 24px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		top: 297px;
		left: 161px;
	}

	.slider__pagination-link--white {
		display: block;

		width: 16px;
		height: 16px;

		content: "";

		border: 1px solid #efefef;
		border-radius: 50%;
		background-color: #fff;
	}

	.slider__pagination-link--white:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #fff;
		border-radius: 50%;
		background-color: #5b5b5b;
	}

	/*news block*/
	.news-events__wrap {
		width: 376px;
		margin: 89px 0 88px 62px;
	}

	.news-events__list {
		box-sizing: border-box;
		width: 332px;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		line-height: 24px;
	}

	.news-event__img-wrap {
		float: left;

		width: 49px;
	}

	.news-event__title {
		padding-left: 66px;

		letter-spacing: 0.2px;

		font-weight: 700;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 18px;
	}

	.news-event__text {
		padding-left: 66px;

		letter-spacing: -0.1px;
	}

	.news-event__more-link {
		display: block;

		padding: 21px 34px 0 0;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
	}

	/*brands section*/
	.brands {
		border: 1px solid #fefefe;
		background-color: #f9f9f9;
	}

	.brands__wrap {
		width: 345px;
		margin: 35px auto 38px auto;
	}

	/*news categories section*/
	.comments {
		border-top: 1px solid #d8d8d8;
		background-color: #ececec;
	}

	.comments__wrap {
		max-width: 440px;
		min-height: 589px;
		margin: 0 auto;
		padding-top: 81px;
	}

	.comment-news__header {
		letter-spacing: -0.1px;

		font-size: 24px;
	}

	.comment__item,
	.comment__item--center	{
		margin-bottom: 55px;
	}

	.comment__item,
	.comment__item--center,
	.comment__item--right	{
		margin-left: -2px;
	}

	.comment-text {
		padding-top: 10px;

		letter-spacing: -0.3px;

		line-height: 24px;
	}

	/*FOOTER*/
	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 440px;
		height: 201px;
		margin: 0 auto;
	}

	.page-footer__nav-wrap {
		padding-top: 43px;

		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__list--footer {
		display: flex;

		justify-content: space-between;
	}

		.main-nav__link--footer {
		text-decoration: none;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 20px;
		line-height: 24px;
	}

	.page-footer__design {
		margin-top: 34px;

		text-align: center;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 12px;
	}

	.page-footer__design-link {
		text-decoration: none;

		color: #fff;

		font-weight: 700;
	}

	.hidden480 {
		display: none;
	}
}

@media (max-width: 479px) {

	body {
		font-family: "Open Sans", Arial, sans-serif;
		font-size: 16px;
		font-weight: 300;
	}

	/*HEADER*/
	.page-header {
		min-height: 516px;

		border-bottom: 1px solid #33253a;
		background: #ead2d5 url("../img/background.jpg") -1048px 0 no-repeat;
	}

	.page-header__nav-wrap {
		max-width: 247px;
		margin: 0 auto 26px auto;
		padding-top: 67px;
	}

	.main-nav {
		display: flex;
		flex-direction: column;

		text-align: center;
		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__logo-link {
		text-decoration: none;
		letter-spacing: -0.3px;

		color: #fff;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

		font-size: 48px;
		font-weight: 400;
	}

	.main-nav__logo-link--violet {
		color: #5a3f66;
		background-image: linear-gradient(#734f82, #5a3f66, #35273d);
		-webkit-background-clip: text;

		-webkit-text-fill-color: transparent;
	}

	.main-nav__logo-wrap {
		margin-bottom: 19px;
	}

	/*main nenu*/
	.main-nav__list,
	.main-nav__submenu {
		position: relative;

		width: 247px;

		text-transform: uppercase;

		font-family: "League Gothic";
	}

	.main-nav__submenu {
		position: absolute;
		z-index: 2;
		left: -1px;

		display: none;

		border-radius: 10px;
		background-color: #3b2e43;
		background-color: rgba(59, 46, 67, 0.9);
	}

	.main-nav__list:hover .main-nav__submenu {
		display: block;
	}

	.main-nav__link {
		text-decoration: none;
		letter-spacing: -0.3px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 24px;
		line-height: 42px;
	}

	.main-nav__link:hover {
		display: inline;

		margin-bottom: -2px;

		border-bottom: 2px solid #edbfff;
	}

	/*slider*/
	.header-slider__wrap::before {
		position: absolute;
		top: 109px;
		left: -21px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
	}

	.header-slider__wrap::after {
		position: absolute;
		top: 109px;
		right: -22px;

		display: block;

		width: 30px;
		height: 42px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
	}

	.header-slider__wrap {
		position: relative;

		max-width: 282px;
		margin: 0 auto;
	}

	.header-slider__item {
		text-align: center;

		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}

	.header-slider__title {
		padding: 95px 0 2px 0;

		letter-spacing: -0.2px;

		color: #fefefe;

		font-family: "League Gothic";
		font-size: 36px;
		font-weight: 400;
	}

	.header-slider__subtitle {
		letter-spacing: -0.3px;
		text-transform: uppercase;

		color: #edbfff;

		font-family: "League Gothic";
		font-size: 18px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		top: 230px;
		left: 104px;
	}

	.slider__pagination {
		display: flex;

		width: 83px;

		justify-content: space-between;
	}

	.slider__pagination-link {
		display: block;

		width: 17px;
		height: 17px;

		content: "";

		border-radius: 50%;
		background-color: #42444d;
	}

	.slider__pagination-link:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #42444d;
		border-radius: 50%;
		background-color: #f5f5f5;
	}

	/*section about company*/
	.about-block {
		border-bottom: 1px solid #f9f9f9;
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
	}

	.about-block__wrap {
		max-width: 282px;
		min-height: 528px;
		margin: 0 auto;
		padding-top: 70px;
	}

	.about-block-item__wrap {
		position: relative;

		margin: 0 0 22px 62px;	}

	.about-block-item__wrap::before {
		position: absolute;
		top: 1px;
		left: -51px;

		display: block;

		width: 38px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
	}

	.about-block-item__wrap--center {
		position: relative;

		margin: 0 0 40px 62px;	}

	.about-block-item__wrap--center::before {
		position: absolute;
		top: 2px;
		left: -51px;

		display: block;

		width: 41px;
		height: 37px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
	}

	.about-block-item__wrap--right {
		position: relative;

		margin-left: 62px;
	}

	.about-block-item__wrap--right::before {
		position: absolute;
		top: -1px;
		left: -50px;

		display: block;

		width: 37px;
		height: 39px;

		content: "";

		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
	}

	.about-block__title {
		margin-bottom: 2px;

		letter-spacing: -0.1px;
		text-transform: uppercase;

		color: #fff;
		text-shadow: 1px 1px 0 #0f1518;

		font-family: "League Gothic";
		font-size: 24px;
	}

	.about-block__text {
		margin-bottom: 13px;

		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;

		line-height: 24px;
	}

	.about-block__link {
		display: block;

		padding-right: 6px;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #ffffff;
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);

		font-family: "League Gothic";
		font-size: 18px;
		line-height: 24px;
	}

	/*news section*/
	.news {
		border-bottom: 1px solid #e6e6e6;
		background-color: #f9f9f9;
	}

	.news__wrap {
		max-width: 282px;
		min-height: 717px;
		margin: 0 auto;
		padding-top: 68px;
	}

	.news-blog__wrap {
		position: relative;

		margin-left: 24px;
	}

	/*blog*/
	.news-blog__item {
		min-height: 247px;
		padding: 26px 0 0 39px;

		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	}

	.news__header,
	.comment-news__header {
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 24px;
		font-weight: 400;
	}

	.news__header--light {
		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		padding: 6px 23px 0 0;

		letter-spacing: 0.3px;

		color: #454545;
		text-shadow: 1px 1px 0 #fff;

		line-height: 24px;
	}

	/*slider-pagination*/
	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		top: 297px;
		left: 98px;
	}

	.slider__pagination-link--white {
		display: block;

		width: 16px;
		height: 16px;

		content: "";

		border: 1px solid #efefef;
		border-radius: 50%;
		background-color: #fff;
	}

	.slider__pagination-link--white:active {
		display: block;

		width: 10px;
		height: 10px;

		content: "";

		border: 3px solid #fff;
		border-radius: 50%;
		background-color: #5b5b5b;
	}

	/*news block*/
	.news-events__wrap {
		width: 282px;
		margin-top: 89px;
	}

	.news__header--biger {
		font-size: 30px;
	}

	.news-events__list {
		box-sizing: border-box;
		width: 282px;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		line-height: 24px;
	}

	.news-event__img-wrap {
		float: left;

		width: 49px;
	}

	.news-event__title {
		padding-left: 66px;

		letter-spacing: 0.2px;

		font-weight: 700;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 18px;
	}

	.news-event__text {
		padding-left: 66px;

		letter-spacing: -0.1px;
	}

	.news-event__more-link {
		display: block;

		padding: 21px 8px 0 0;

		text-align: right;
		text-decoration: none;
		text-transform: uppercase;

		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;

		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
	}

	/*brands section*/
	.brands {
		border: 1px solid #fefefe;
		background-color: #f9f9f9;
	}

	.brands__wrap {
		width: 237px;
		margin: 52px auto 72px auto;;
	}

	/*FOOTER*/
	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 282px;
		height: 201px;
		margin: 0 auto;
		padding-top: 41px;
	}

	.page-footer__design {
		text-align: center;

		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);

		font-size: 12px;
	}

	.page-footer__design-link {
		text-decoration: none;

		color: #fff;

		font-weight: 700;
	}

	.hidden320 {
		display: none;
	}
}
