@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/LeagueGothic.eot');
	src: url('../fonts/LeagueGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LeagueGothic.woff2') format('woff2'),
		url('../fonts/LeagueGothic.woff') format('woff'),
		url('../fonts/LeagueGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media screen and (min-width: 960px) {

	body {
	  font-family: "Open Sans", Arial, sans-serif;
	  font-size: 16px;
		font-weight: 300;
	}

	.page-header {
	  background: #ead2d5 url("../img/background.jpg") -480px 0 no-repeat;
		min-height: 846px;
		border-bottom: 1px solid #33253a;
	}

	.page-header__nav-wrap {
	  max-width: 960px;
	  margin: 0 auto;
	  padding-top: 66px;
	  margin-bottom: 164px;
	}

	.main-nav {
	  font-family: "League Gothic";
	  text-transform: uppercase;
	  display: flex;
	  justify-content: space-between;
	}

	.main-nav__logo-link {
	  font-size: 48px;
	  color: #fff;
	  font-weight: 400;
		letter-spacing: -0.5px;
	  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	  text-decoration: none;
	}

	.main-nav__logo-link--violet {
	  color: #5a3f66;
	  background-image: linear-gradient(#734f82, #5a3f66, #35273d);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	.main-nav__list-wrap {
		flex: 0 0 633px;
		padding-top: 10px;
	}

	.main-nav__list {
		font-family: "League Gothic";
	  text-transform: uppercase;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.main-nav__link {
		font-size: 24px;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	  text-transform: uppercase;
		letter-spacing: -0.5px;
	  color: #fff;
	  text-decoration: none;
	}

	.main-nav__list-item:hover {
	  border-bottom: 2px solid #edbfff;
	  margin-bottom: -2px;
	}

	.header-slider {
	  background-color: rgba(0, 0, 0, 0.2);
		min-height: 400px;
	}

	.header-slider__wrap::before {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
		position: absolute;
		left: -290px;
		top: 183px;
	}

	.header-slider__wrap::after {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
		position: absolute;
		right: -290px;
		top: 183px;
	}

	.header-slider__wrap {
	  max-width: 960px;
	  margin: 0 auto;
		position: relative;
	}

	.header-slider__item {
	  max-width: 502px;
	  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	}

	.header-slider__title {
	  font-family: "League Gothic";
	  font-size: 60px;
	  font-weight: 400;
	  color: #fefefe;
		letter-spacing: -1px;
	  padding-top: 79px;
	}

	.header-slider__subtitle {
	  font-family: "League Gothic";
	  font-size: 32px;
		letter-spacing: -0.4px;
	  color: #edbfff;
	  text-transform: uppercase;
	}

	.header-slider__text {
	  color: #fff;
	  font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.3px;
		padding-top: 5px;
	}

	.header-slider__img-wrap {
	  position: absolute;
	  left: 617px;
	  top: -17px;
	}

	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		left: 713px;
		top: 493px;
	}

	.slider__pagination {
		width: 83px;
	  display: flex;
	  justify-content: space-between;
	}

	.slider__pagination-link {
	  content: "";
	  display: block;
		width: 17px;
		height: 17px;
	  background-color: #42444d;
		border-radius: 50%;
	}

	.slider__pagination-link:active {
	  content: "";
	  display: block;
		width: 10px;
		height: 10px;
	  background-color: #f5f5f5;
		border: 3px solid #42444d;
		border-radius: 50%;
	}

	.about-block {
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
		border-bottom: 1px solid #f9f9f9;
	}

	.about-block__wrap {
		max-width: 960px;
		min-height: 262px;
		margin: 0 auto;
		display: flex;
		padding-top: 78px;
	}

	.about-block-item__wrap {
		flex: 0 0 226px;
		margin-left: 60px;
		position: relative;
	}

	.about-block-item__wrap::before {
		content: "";
		display: block;
		width: 38px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
		position: absolute;
		left: -51px;
		top: 4px;
	}

	.about-block-item__wrap--center {
		flex: 0 0 226px;
		margin-left: 111px;
		position: relative;
	}

	.about-block-item__wrap--center::before {
		content: "";
		display: block;
		width: 41px;
		height: 37px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
		position: absolute;
		left: -51px;
		top: 5px;
	}

	.about-block-item__wrap--right {
		flex: 0 0 226px;
		margin-left: 111px;
		position: relative;
	}

	.about-block-item__wrap--right::before {
		content: "";
		display: block;
		width: 37px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
		position: absolute;
		left: -50px;
		top: 2px;
	}

	.about-block__title {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #0f1518;
		color: #fff;
		font-size: 30px;
		text-transform: uppercase;
		margin-left: 4px;
		margin-bottom: 5px;
	}

	.about-block__text {
		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;
		line-height: 24px;
		margin-bottom: 18px;
	}

	.about-block__link {
		font-family: "League Gothic";
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		text-align: right;
	}

	.news {
		background-color: #f9f9f9;
		border-bottom: 1px solid #e6e6e6;
	}

	.news__wrap {
		max-width: 960px;
		margin: 0 auto;
		min-height: 388px;
		display: flex;
		padding-top: 98px;
	}

	.news-blog__wrap {
		margin-left: 24px;
		margin-right: 64px;
		position: relative;
	}

	.news-blog__item {
		flex: 0 0 427px;
		min-height: 176px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		padding: 31px 0 0 39px;
	}

	.news__header-wrap {
		display: flex;
	}

	.news__header,
	.comment-news__header {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: -0.2px;
		color: #454545;
	}

	.news__header--light {
		color: #edbfff;
		padding-left: 5px;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		color: #454545;
		text-shadow: 1px 1px 0 #fff;
		line-height: 24px;
		letter-spacing: 0.1px;
		padding: 10px 20px 35px 0;
	}

	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		left: 172px;
		top: 297px;
	}

	.slider__pagination-link--white {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border: 1px solid #efefef;
		border-radius: 50%;
	}

	.slider__pagination-link--white:active {
	  content: "";
	  display: block;
		width: 10px;
		height: 10px;
	  background-color: #5b5b5b;
		border: 3px solid #fff;
		border-radius: 50%;
	}

	.news-events__wrap {
		padding-top: 31px;
		flex: 0 0 450px;
	}

	.news-events__list {
		text-shadow: 1px 1px 0 #ffffff;
		color: #454545;
		line-height: 24px;
		width: 445px;
		box-sizing: border-box;
	}

	.news-event__img-wrap {
		float: left;
		width: 49px;
	}

	.news-event__title {
		font-weight: 700;
		padding-left: 65px;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 17px;
	}

	.news-event__text {
		padding-left: 65px;
	}

	.news-event__more-link {
		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: right;
		display: block;
		padding-top: 25px;
		padding-right: 20px;
	}

	.brands {
		background-color: #f9f9f9;
		border: 1px solid #fefefe;
	}

	.brands__img-wrap {
		max-width: 775px;
		min-height: 117px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.comments {
		background-color: #ececec;
		border-top: 1px solid: #d8d8d8;
	}

	.comments__wrap {
		max-width: 960px;
		min-height: 299px;
		margin: 0 auto;
		padding-top: 98px;
		display: flex;
		justify-content: flex-start;
	}

	.comment__item {
		flex: 0 0 286px;
	}

	.comment__item--center {
		margin-left: 51px;
	}

	.comment__item--right {
		margin-left: 51px;
		letter-spacing: -0.3px;
	}

	.comments__logo-wrap {
		padding-bottom: 12px;
	}

	.comments__logo-link {
		font-family: "League Gothic";
	  text-transform: uppercase;
	  font-size: 48px;
	  font-weight: 400;
		letter-spacing: -0.5px;
	  text-decoration: none;
		color: #454545;
		text-shadow: 0 1px 0 #fff;
	}

	.comments__logo-link--light {
	  color: #b9b9b9;
	}

	.comment__time {
		font-family: Georgia;
		color: #c5c5c5;
		text-shadow: 1px 1px 0 #fff;
	}

	.comment-text {
		padding-top: 10px;
		line-height: 24px;
	}

	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 960px;
		margin: 0 auto;
		padding: 47px 0;
		display: flex;
		justify-content: space-between;
	}

	.page-footer__nav-wrap {
		font-family: "League Gothic";
		text-transform: uppercase;
		flex-basis: 533px;
	}

	.main-nav__list--footer {
		display: flex;
		justify-content: space-between;
	}

	.main-nav__link--footer {
		letter-spacing: 0.5px;
	  color: #fff;
		font-size: 20px;
		text-decoration: none;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	}

	.page-footer__design {
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
		align-self: center;
	}

	.page-footer__design-link {
		font-weight: 700;
		text-decoration: none;
		color: #fff;
	}

	.hidden960 {
		display: none;
	}

}



@media (max-width: 959px) and (min-width: 768px) {

	body {
	  font-family: "Open Sans", Arial, sans-serif;
	  font-size: 16px;
		font-weight: 300;
	}

	.hidden768 {
		display: none;
	}

	.page-header {
	  background: #ead2d5 url("../img/background.jpg") -824px 0 no-repeat;
		min-height: 798px;
		border-bottom: 1px solid #33253a;
	}

	.page-header__nav-wrap {
	  max-width: 732px;
	  margin: 0 auto;
	  padding-top: 68px;
	  margin-bottom: 76px;
	}

	.main-nav {
	  font-family: "League Gothic";
	  text-transform: uppercase;
	  display: flex;
	  flex-direction: column;
	}

	.main-nav__logo-link {
	  font-size: 48px;
	  color: #fff;
	  font-weight: 400;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	  text-decoration: none;
	}

	.main-nav__logo-link--violet {
	  color: #5a3f66;
	  background-image: linear-gradient(#734f82, #5a3f66, #35273d);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	.main-nav__list-wrap {
		width: 632px;
		margin-top: 28px;
	}

	.main-nav__list {
		font-family: "League Gothic";
	  text-transform: uppercase;
	  display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	.main-nav__link {
		font-size: 24px;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	  text-transform: uppercase;
		letter-spacing: -0.4px;
	  color: #fff;
	  text-decoration: none;
	}

	.main-nav__list-item:hover {
	  border-bottom: 2px solid #edbfff;
	  margin-bottom: -2px;
	}

	.header-slider {
	  background-color: rgba(0, 0, 0, 0.2);
		min-height: 400px;
	}

	.header-slider__wrap::before {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
		position: absolute;
		left: -25px;
		top: 183px;
	}

	.header-slider__wrap::after {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
		position: absolute;
		top: 183px;
		right: -25px;
	}

	.header-slider__wrap {
	  max-width: 728px;
	  margin: 0 auto;
		position: relative;
	}

	.header-slider__item {
	  max-width: 272px;
	  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		padding-left: 24px;
	}

	.header-slider__title {
	  font-family: "League Gothic";
	  font-size: 48px;
	  font-weight: 400;
	  color: #fefefe;
		letter-spacing: -0.7px;
	  padding-top: 99px;
		padding-bottom: 8px;
	}

	.header-slider__subtitle {
	  font-family: "League Gothic";
	  font-size: 24px;
		letter-spacing: -0.3px;
	  color: #edbfff;
	  text-transform: uppercase;
	}

	.header-slider__text {
	  color: #fff;
	  font-size: 16px;
		line-height: 27px;
		letter-spacing: -0.2px;
		padding-top: 5px;
	}

	.header-slider__img-wrap {
	  position: absolute;
	  left: 427px;
	  top: -23px;
	}

	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		left: 522px;
		top: 437px;
	}

	.slider__pagination {
		width: 83px;
	  display: flex;
	  justify-content: space-between;
	}

	.slider__pagination-link {
	  content: "";
	  display: block;
		width: 17px;
		height: 17px;
	  background-color: #42444d;
		border-radius: 50%;
	}

	.slider__pagination-link:active {
	  content: "";
	  display: block;
		width: 10px;
		height: 10px;
	  background-color: #f5f5f5;
		border: 3px solid #42444d;
		border-radius: 50%;
	}

	.about-block {
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
		border-bottom: 1px solid #f9f9f9;
	}

	.about-block__wrap {
		max-width: 732px;
		min-height: 264px;
		margin: 0 auto;
		display: flex;
		padding-top: 77px;
	}

	.about-block-item__wrap {
		flex: 0 0 156px;
		margin-left: 60px;
		position: relative;
	}

	.about-block-item__wrap::before {
		content: "";
		display: block;
		width: 38px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
		position: absolute;
		left: -51px;
		top: 1px;
	}

	.about-block-item__wrap--center {
		flex: 0 0 156px;
		margin-left: 102px;
		position: relative;
	}

	.about-block-item__wrap--center::before {
		content: "";
		display: block;
		width: 41px;
		height: 37px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
		position: absolute;
		left: -51px;
		top: 2px;
	}

	.about-block-item__wrap--right {
		flex: 0 0 156px;
		margin-left: 102px;
		position: relative;
	}

	.about-block-item__wrap--right::before {
		content: "";
		display: block;
		width: 37px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
		position: absolute;
		left: -50px;
		top: -1px;
	}

	.about-block__title {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #0f1518;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		margin-left: 2px;
		margin-bottom: 4px;
	}

	.about-block__text {
		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;
		line-height: 24px;
		margin-bottom: 6px;
	}

	.about-block__link {
		font-family: "League Gothic";
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		text-align: right;
		padding-right: 8px;
	}

	.news {
		background-color: #f9f9f9;
		border-bottom: 1px solid #e6e6e6;
	}

	.news__wrap {
		max-width: 732px;
		margin: 0 auto;
		min-height: 388px;
		display: flex;
		padding-top: 98px;
	}

	.news-blog__wrap {
		margin-left: 24px;
		margin-right: 59px;
		position: relative;
	}

	.news-blog__item {
		flex: 0 0 313px;
		min-height: 241px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		padding: 31px 0 0 39px;
	}

	.news__header,
	.comment-news__header {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #454545;
	}

	.news__header--light {
		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		color: #454545;
		text-shadow: 1px 1px 0 #fff;
		line-height: 24px;
		letter-spacing: -0.5px;
		padding: 10px 20px 10px 0;
	}

	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		left: 118px;
		top: 297px;
	}

	.slider__pagination-link--white {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border: 1px solid #efefef;
		border-radius: 50%;
	}

	.slider__pagination-link--white:active {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		background-color: #5b5b5b;
		border: 3px solid #fff;
		border-radius: 50%;
	}

	.news-events__wrap {
		padding-top: 31px;
		flex: 0 0 336px;
	}

	.news__header--biger {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		color: #454545;
		margin-left: -2px;
		letter-spacing: -0.5px;
	}

	.news-events__list {
		text-shadow: 1px 1px 0 #ffffff;
		color: #454545;
		line-height: 24px;
		width: 332px;
		box-sizing: border-box;
	}

	.news-event__img-wrap {
		float: left;
		width: 49px;
	}

	.news-event__title {
		font-weight: 700;
		padding-left: 65px;
		letter-spacing: 0.2px;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 18px;
	}

	.news-event__text {
		padding-left: 65px;
		letter-spacing: -0.3px;
	}

	.news-event__more-link {
		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: right;
		display: block;
		padding-top: 20px;
		padding-right: 5px;
	}

	.brands {
		background-color: #f9f9f9;
		border: 1px solid #fefefe;
	}

	.brands__img-wrap {
		max-width: 725px;
		min-height: 121px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.brands__img {
		display: block;
	}

	.comments {
		background-color: #ececec;
		border-top: 1px solid: #d8d8d8;
	}

	.comments__wrap {
		max-width: 732px;
		min-height: 295px;
		margin: 0 auto;
		padding-top: 101px;
		display: flex;
		justify-content: flex-start;
	}

	.comment__item {
		flex: 0 0 210px;
	}

	.comment__item--center {
		margin-left: 55px;
		flex: 0 0 210px;
	}

	.comment__item--right {
		flex: 0 0 210px;
		margin-left: 55px;
	}

	.comment-text {
		padding-top: 10px;
		line-height: 24px;
	}

	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 732px;
		height: 201px;
		margin: 0 auto;
	}

	.page-footer__nav-wrap {
		font-family: "League Gothic";
		text-transform: uppercase;
		padding-top: 45px;
		width: 528px;
	}

	.main-nav__list--footer {
		display: flex;
		justify-content: space-between;
	}

		.main-nav__link--footer {
	  color: #fff;
		font-size: 20px;
		line-height: 24px;
		text-decoration: none;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	}

	.page-footer__design {
		font-size: 12px;
		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
		text-align: right;
		margin-top: 34px;
	}

	.page-footer__design-link {
		font-weight: 700;
		text-decoration: none;
		color: #fff;
	}

}



@media (max-width: 767px) and (min-width: 480px) {

	body {
	  font-family: "Open Sans", Arial, sans-serif;
	  font-size: 16px;
		font-weight: 300;
	}

	.hidden480 {
		display: none;
	}

	.page-header {
	  background: #ead2d5 url("../img/background.jpg") -968px 0 no-repeat;
		min-height: 549px;
		border-bottom: 1px solid #33253a;
	}

	.page-header__nav-wrap {
	  max-width: 247px;
	  margin: 0 auto;
	  padding-top: 67px;
		margin-bottom: 26px;

	}

	.main-nav {
	  font-family: "League Gothic";
	  text-transform: uppercase;
	  display: flex;
	  flex-direction: column;
		text-align: center;
	}

	.main-nav__logo-link {
	  font-size: 48px;
		letter-spacing: -0.3px;
	  color: #fff;
	  font-weight: 400;
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
	  text-decoration: none;
	}

	.main-nav__logo-link--violet {
	  color: #5a3f66;
	  background-image: linear-gradient(#734f82, #5a3f66, #35273d);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}

	.main-nav__logo-wrap {
		margin-bottom: 16px;
	}

	.main-nav__list,
	.main-nav__submenu {
		font-family: "League Gothic";
	  text-transform: uppercase;
		background-color: #3b2e43;
		background-color: rgba(59, 46, 67, 0.9);
		border: 1px solid #051116;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		position: relative;
		width: 247px;
	}

	.main-nav__list-item {
		padding-top: 2px;
	}

	.main-nav__list-item,
	.submain-nav__list-item {
		box-shadow: inset 0 -1px 0 rgba(105, 82, 114, 0.59);
	}

	.main-nav__submenu {
		position: absolute;
		z-index: 2;
		left: -1px;
		display: none;
	}

	.main-nav__list:hover {
		border-radius: 10px 10px 0 0;
	}

	.main-nav__list:hover .main-nav__submenu {
		display: block;
		border-radius: 0 0 10px 10px;
	}

	.main-nav__link {
		font-size: 24px;
		line-height: 42px;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	  text-transform: uppercase;
		letter-spacing: -0.3px;
	  color: #fff;
	  text-decoration: none;
	}

	.main-nav__link:hover {
		display: inline;
	  border-bottom: 2px solid #edbfff;
	  margin-bottom: -2px;
	}

	.main-nav__link:active {
		background-color: rgba(44,35,50, 0.9);
		margin-bottom: -2px;
		display: block;
	}

	.header-slider {
	  background-color: rgba(0, 0, 0, 0.2);
		min-height: 246px;
	}

	.header-slider__wrap::before {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -128px;
		position: absolute;
		left: -23px;
		top: 108px;

	}

	.header-slider__wrap::after {
		content: "";
		display: block;
		width: 30px;
		height: 42px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -4px -79px;
		position: absolute;
		top: 108px;
		right: -25px;
	}

	.header-slider__wrap {
	  max-width: 440px;
	  margin: 0 auto;
		position: relative;
	}

	.header-slider__item {
	  max-width: 201px;
	  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
		padding-left: 20px;
	}

	.header-slider__title {
	  font-family: "League Gothic";
	  font-size: 36px;
	  font-weight: 400;
	  color: #fefefe;
		letter-spacing: -0.7px;
	  padding-top: 95px;
		padding-bottom: 2px;
	}

	.header-slider__subtitle {
	  font-family: "League Gothic";
	  font-size: 18px;
		letter-spacing: -0.3px;
	  color: #edbfff;
	  text-transform: uppercase;
	}

	.header-slider__img-wrap {
	  position: absolute;
	  left: 237px;
	  top: -8px;
	}

	.slider__pagination-wrap {
		position: absolute;
		z-index: 1;
		left: 183px;
		top: 268px;
	}

	.slider__pagination {
		width: 83px;
	  display: flex;
	  justify-content: space-between;
	}

	.slider__pagination-link {
	  content: "";
	  display: block;
		width: 17px;
		height: 17px;
	  background-color: #42444d;
		border-radius: 50%;
	}

	.slider__pagination-link:active {
	  content: "";
	  display: block;
		width: 10px;
		height: 10px;
	  background-color: #f5f5f5;
		border: 3px solid #42444d;
		border-radius: 50%;
	}

	.about-block {
		background-color: #745083;
		background-image: linear-gradient(#745083, #322539);
		box-shadow: 0px 4px 30px 0px rgba(32, 25, 39, 0.3);
		border-bottom: 1px solid #f9f9f9;
	}

	.about-block__wrap {
		max-width: 440px;
		min-height: 520px;
		margin: 0 auto;
		padding-top: 77px;
	}

	.about-block-item__wrap {
		margin-left: 62px;
		position: relative;
		margin-bottom: 25px;
	}

	.about-block-item__wrap::before {
		content: "";
		display: block;
		width: 38px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -37px;
		position: absolute;
		left: -51px;
		top: 1px;
	}

	.about-block-item__wrap--center {
		margin-left: 62px;
		margin-bottom: 25px;
		position: relative;
	}

	.about-block-item__wrap--center::before {
		content: "";
		display: block;
		width: 41px;
		height: 37px;
		background: url("../img/sprite.png") no-repeat;
		background-position: 0 -1px;
		position: absolute;
		left: -51px;
		top: 2px;
	}

	.about-block-item__wrap--right {
		margin-left: 62px;
		position: relative;
	}

	.about-block-item__wrap--right::before {
		content: "";
		display: block;
		width: 37px;
		height: 39px;
		background: url("../img/sprite.png") no-repeat;
		background-position: -1px -175px;
		position: absolute;
		left: -50px;
		top: -1px;
	}

	.about-block__title {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #0f1518;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 2px;
		letter-spacing: -0.1px;
	}

	.about-block__text {
		color: #ffffff;
		text-shadow: 1px 1px 0 #0f1518;
		line-height: 24px;
		margin-bottom: 12px;
	}

	.about-block__link {
		font-family: "League Gothic";
		text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
		color: #ffffff;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		text-align: right;
		padding-right: 6px;
	}

	.news {
		background-color: #f9f9f9;
		border-bottom: 1px solid #e6e6e6;
	}

	.news__wrap {
		max-width: 440px;
		margin: 0 auto;
		min-height: 199px;
		padding-top: 68px;
	}

	.news-blog__wrap {
		margin-left: 24px;
		position: relative;
	}

	.news-blog__item {
		min-height: 243px;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		padding: 30px 0 0 39px;
	}

	.news__header,
	.comment-news__header {
		font-family: "League Gothic";
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 30px;
		font-weight: 400;
		text-transform: uppercase;
		color: #454545;
		display: inline-block;
	}

	.news__header--light {
		color: #edbfff;
	}

	.news-blog__img-wrap {
		position: absolute;
		top: 20px;
		left: -23px;
	}

	.news-blog__text {
		color: #454545;
		text-shadow: 1px 1px 0 #fff;
		line-height: 24px;
		letter-spacing: -0.4px;
		padding: 10px 40px 0 0;
	}

	.slider__pagination-wrap--white {
		position: absolute;
		z-index: 1;
		left: 161px;
		top: 297px;
	}

	.slider__pagination-link--white {
		content: "";
		display: block;
		width: 16px;
		height: 16px;
		background-color: #fff;
		border: 1px solid #efefef;
		border-radius: 50%;
	}

	.slider__pagination-link--white:active {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		background-color: #5b5b5b;
		border: 3px solid #fff;
		border-radius: 50%;
	}

	.news-events__wrap {
		margin: 89px 0 0 62px;
		width: 376px;
		margin-bottom: 88px;
	}

		.news-events__list {
		text-shadow: 1px 1px 0 #ffffff;
		color: #454545;
		line-height: 24px;
		width: 332px;
		box-sizing: border-box;
	}

	.news-event__img-wrap {
		float: left;
		width: 49px;
	}

	.news-event__title {
		font-weight: 700;
		padding-left: 66px;
		letter-spacing: 0.2px;
	}

	.news-event__item {
		box-sizing: inherit;
		padding-top: 18px;
	}

	.news-event__text {
		padding-left: 66px;
		letter-spacing: -0.1px;
	}

	.news-event__more-link {
		font-family: "League Gothic";
		font-size: 18px;
		font-weight: 400;
		color: #454545;
		text-shadow: 1px 1px 0 #ffffff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: right;
		display: block;
		padding-top: 21px;
		padding-right: 34px;
	}

	.brands {
		background-color: #f9f9f9;
		border: 1px solid #fefefe;
	}

	.brands__wrap {
		width: 440px;
		margin: 35px auto 0 auto;
	}

	.brands__img-wrap {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin-left: 58px;
	}

	.brands__img {
		margin-right: 45px;
		margin-bottom: 31px;
	}

	.comments {
		background-color: #ececec;
		border-top: 1px solid: #d8d8d8;
	}

	.comments__wrap {
		max-width: 440px;
		min-height: 589px;
		margin: 0 auto;
		padding-top: 81px;
	}

	.comment-news__header {
		font-size: 24px;
		letter-spacing: -0.1px;
	}

	.comment__item,
	.comment__item--center	{
		margin-bottom: 55px;
	}

	.comment__item,
	.comment__item--center,
	.comment__item--right	{
		margin-left: -2px;
	}

	.comment-text {
		padding-top: 10px;
		line-height: 24px;
		letter-spacing: -0.3px;
	}

	.page-footer {
		background: url("../img/backround-footer.jpg") no-repeat;
	}

	.page-footer__wrap {
		max-width: 440px;
		height: 201px;
		margin: 0 auto;
	}

	.page-footer__nav-wrap {
		font-family: "League Gothic";
		text-transform: uppercase;
		padding-top: 43px;
	}

	.main-nav__list--footer {
		display: flex;
		justify-content: space-between;
	}

		.main-nav__link--footer {
	  color: #fff;
		font-size: 20px;
		line-height: 24px;
		text-decoration: none;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
	}

	.page-footer__design {
		font-size: 12px;
		color: #fff;
		text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
		text-align: center;
		margin-top: 34px;
	}

	.page-footer__design-link {
		font-weight: 700;
		text-decoration: none;
		color: #fff;
	}

}
